<!-- Main Search Section -->
<div class="main-search" data-section-id="{{ section.id }}" data-section-type="main-search">
  <div class="main-search__container">
    {% render 'search' %}
  </div>
</div>

{% schema %}
{
  "name": "Main Search",
  "settings": []
}
{% endschema %}


